<h1>Awesome Top Cats</h1>
<p class="lead mb-2">Cats are shown in order with the most child friendly, stranger friendly and dog friendly breeds of cat listed first.</p>

<div class="card w-100 mt-3 mb-3">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {{#each cats}}
        <li class="list-group-item">
          <div class="fw-bold"><a href="https://en.wikipedia.org/wiki/Kurilian_Bobtail">{{this.name}}</a></div>
          {{this.description}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
