<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/stylesheets/bootstrap-5.1.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
  </head>
  <body>
    <main role="main" class="container mt-3 mb-3">
      {{{body}}}
    </main>
    <footer class="footer mt-3 mb-1">
      <div class="container">
        <small class="text-muted">Thanks to <a href="https://thecatapi.com/" rel="nofollow">The Cat API</a> for info all about the cats.</small>
      </div>
    </footer>
  </body>
</html>
